# Node modules
node_modules/
dist/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# IDEs
.vscode/
.idea/

# OS files
Thumbs.db
Desktop.ini
.DS_Store

# Database
*.db
*.db-journal
